[Unit]
Description=Trackpoint Configuration for systemd

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/trackpoint.sh start
ExecStop=/usr/bin/trackpoint.sh stop

[Install]
WantedBy=graphical.target
